<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.demo.maps.xamarin_forms_maps_demo">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="20" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Xamarin Forms Maps Demo">
	<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBoNbp7EXPz-Id5mEkwWAJAV99_JqOzUoc" />
	</application>
</manifest>